<menu page="orders"></menu>

<div class="panel panel-default category">
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <th>#</th>
                <th><a href="#" ng-click="defineOrderByOrders('table')">Table</a></th>
                <th><a href="#" ng-click="defineOrderByOrders('date')">Date</a></th>
                <th><a href="#" ng-click="defineOrderByOrders('status')">Status</a></th>
                <th><a href="#" ng-click="defineOrderByOrders('getTotal()')">Total</a></th>
                <th>Action</th>
            </thead>
            <tr ng-repeat="order in orders | orderBy: fieldOrder:reverseOrder">
                <td>
                    <a href="#/order-details/{{order.id}}">{{order.id}}</a>
                </td>
                <td>{{order.table}}</td>
                <td>{{order.date | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{order.status}}</td>
                <td>{{order.getTotal() | currency}}</td>
                <td>
                    <a href="#/orders" ng-show="order.status == 'Ok'" ng-click="cancelOrder(order)">Cancel</a>
                    <a href="#/orders" ng-show="order.status != 'Ok'" ng-click="deleteOrder(order)">Delete</a>
                </td>
            </tr>
        </table>
        
    </div>
</div>